services:
  - type: web
    name: whatsapp-quiz-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 3001
      - key: WHATSAPP_NUMBER
        value: 9991943266

